.root {
    box-sizing: border-box;
}  
*,*::before,  *::after {
    box-sizing: inherit;
}  
body {
    margin: auto;
    background-image: url("./assets/clouds-gefdda90d9_1920.jpg");
    background-repeat: no-repeat, no-repeat;
    display: grid;
    justify-content: center;
    justify-items: center;
    height: 90vh;
    width: 90vw;
    text-shadow: 0 0 1px black;
    color: white;
}
.card {
    display: block;
    position: relative;
    width: 100vh;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;  
    width: 300px;
    height: 500px;
    aspect-ratio: 0.6;
    border: 1px solid rgba(31, 28, 36, 0.934);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.888);
    overflow: hidden;
    text-align: center;
}
.container_title{
    color: rgb(142, 199, 255);
    height: 40px;
    margin: 15px; 
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}
.container_location{
    color: bisque;
}
.container_weather{
    display: flex;
    margin-top: 20px;
    overflow: hidden;
}
.container_weather_status{
    display: block;
    width: 60%;
}

.container_weather_weather_description{
    height: 15%;
    width: 100%;
}
.container_weather_image{
    justify-content: center;
    height: 70%;
    width: 100%;
}
.container_weather_weather_main{
    height: 15%;
    width: 100%;
    color: skyblue;
}
.container_weather_data{
    width: 100%;  
}
.container_weather_data p{
    width: 100%;
    color:rgb(0, 187, 255);
    padding: 0;
    margin: 0;    
}
.container_temperature{
margin-top: 20px;
    color:rgb(50, 0, 248);
    padding-bottom: 10px;
}
.btn{
    margin: 10px;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 4, 14, 0.423);
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
}
.load{
    display: block;
    color: rgb(22, 147, 136);
    margin-top: 300px;
    text-align: center;

}
h1{
    font-size: 26px;
}
h2{
    font-size: 22px;
    margin: 5px;
}
h3{
    font-size: 18px;
    margin: 0;
    color: rgb(244, 215, 215);
}
ul{
    font-size: 12px;
}
li{
    text-align: left;
    padding: 0;
    margin: 0;
    list-style: none
}
p{
    font-size: 12px;
}
.latitude{
    margin: 0;
    font-size: 16;
} 
.longitude{
    margin: 0;
    font-size: 16;
}
img{
    height: 170px;
}
footer{
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
}